VITE_SUPABASE_PROJECT_ID="ropbkdqhqdeiwrenrmjt"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvcGJrZHFocWRlaXdyZW5ybWp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NTYyNTAsImV4cCI6MjA4NzQzMjI1MH0.NJStUzfzL5M76pOtlfUVa_Whf0WS74k49xTqRJapXoA"
VITE_SUPABASE_URL="https://ropbkdqhqdeiwrenrmjt.supabase.co"
